{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="shortcut icon" href="{% static 'images/img/netflix_icon.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/change_password_page.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'fonts/css/all.min.css' %}">
	</head>
	<body>
		<div class="top-header">
			<video id="myVideo" loop muted autoplay src="{% static 'images/oh4k.webm' %}"></video>

			<div class="navbar">
				<div class="nav-left">
					<div class="logo">
						<a href="{% url 'main_page' %}"><img src="{% static 'images/netflix-logo.png' %}" alt="" /></a>
					</div>
					<ul>
						<li><a href="{% url 'main_page' %}">Home</a></li>
						<li><a href="{% url 'tvshows' %}">TV Shows</a></li>
						<li><a href="#">Movies</a></li>
						<li><a href="#">New & Popular</a></li>
						<li><a href="#">My List</a></li>
					</ul>
				</div>
				<div class="nav-right">
					<input type="search" name="" id="" />
					<a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i></a>
					<p><a href="#">Children</a></p>
					<i class="fa-regular fa-bell" style="color: #ffffff"></i>
					<div class="profile">
						<img src="{% static 'images/profile.jpg' %}" alt="" />
					</div>
					<div class="dropdown">
						<i class="fa-solid fa-caret-down dropbtn" style="color: #ffffff"></i>
						<div class="dropdown-content">
							<a href="{% url 'profile' %}">Account</a>
							<a href="{% url 'change_password' %}">Change Password</a>
							<a href="{% url 'user_logout' %}">Logout</a>
							<a href="#">Help Center</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form method="POST" enctype="multipart/form-data">
			<table cellpadding="10">
				{% csrf_token %}
				<tr>
					<td for="pw">Enter New Password</td>
				</tr>
                <tr>
                    <td><input type="password" name="pw" id="pw" required/></td>
                </tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="Submit" /></td>
				</tr>
			</table>
		</form>
	</body>
</html>
