{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="shortcut icon" href="{% static 'images/img/netflix_icon.png' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/reset_password_page.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'fonts/css/all.min.css' %}">
	</head>
	<body>

        <div class="top-header">
			<div class="navbar">
				<div class="nav-left">
					<div class="logo">
						<a href="{% url 'home' %}"><img src="{% static 'images/netflix-logo.png' %}" alt="" /></a>
					</div>
					<ul>
						<li><a href="{% url 'signin' %}">SignIn</a></li>
						<li><a href="{% url 'signup' %}">SignUp</a></li>
					</ul>
				</div>
			</div>
		</div>
        <div class="reset">
            <h1>Reset Password</h1>
        </div>
		<form method="POST">
			{% csrf_token %}
			<table cellpadding="10">
				<tr>
					<td><label for="un">Username</label></td>
					<td><input type="text" name="un" id="un" /></td>
				</tr>
				<tr>
					<td><label for="pw">New Password</label></td>
					<td><input type="password" name="pw" id="pw" /></td>
				</tr>
				<tr>
					<td><label for="rpw">Re-enter New Password</label></td>
					<td><input type="password" name="rpw" id="rpw" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="Submit" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
